<comp-navbar-white>
</comp-navbar-white>
<div class="page">
    <div class="application-index">
        <div class="container-fluid">
            <div class="first-sec">
                <img src="/public/images/kids.ret.jpg"/>
            </div>
        </div>
        <div class="second-sec text-center">
            <h3>
                Vil du aktiverer mennesker og samtidig tjene penge?
            </h3>
            <p>
                Opret din profil gratis i dag, så kontakter vi dig når en institution har brug for dig
            </p>
            <p>
                Læs mere om hvilke type institutioner du kan havne i
                <a ui-sref="application.about">
                    her
                </a>
            </p>
            <br/>
            <button class="btn btn-default" type="submit">
                Opret CV
            </button>
        </div>
        <div class="third-sec">
            <div class="row">
                <div class="col-md-offset-3 col-md-2 text-center">
                    <h3>
                        Aldersgrupper
                    </h3>
                    <p>
                        Læs her om hvilke aldersgruppe du kan komme ud til
                    </p>
                </div>
                <div class="col-md-2 text-center">
                    <h3>
                        Institutioner
                    </h3>
                    <p>
                        Her har vi samlet en liste over de typer institutioner du kan havne i.
                    </p>
                </div>
                <div class="col-md-2 text-center">
                    <h3>
                        Aktivitetter
                    </h3>
                    <p>
                        Lær om de aktivitetter du kan være med til at udføre og udøve
                    </p>
                </div>
            </div>
        </div>
        <div class="four-sec text-center">
            <div class="col-md-offset-3 col-md-6">
                <div class="col-md-12 ad-pic">
                    <img src="/public/images/ma.jpg"/>
                </div>
                <h4>
                    Oscar hjalp gårdlauget til
                    at udnytte det grønne rum
                </h4>
            </div>
        </div>
    </div>
</div>
<comp-footer>
</comp-footer>
