<div class="check-box" ng-click="click()" ng-keypress="$event.which === 32 && click()" tabindex="0">
    <i class="fa {{class()}} check-box-icon"></i>
    <label class="check-box-label">{{label}}</label>
</div>