<nav class="comp-navbar-white navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="application.index">
                <img src="/public/images/activita.logo.png"/>
            </a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li class="links">
                <a ui-sref="application.contact">
                    <p>Bliv pædagog</p>
                    <span class="sr-only">
                        (current)
                    </span>
                </a>
            </li>
            <li class="links">
                <a ui-sref="application.contact">
                    <p>Find aktivitetter</p>
                    <span class="sr-only">
                        (current)
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
