<nav class="comp-navbar navbar navbar-default">
    <div class="container">
        <a ui-sref="application.index">
            <b class="title">
                <img src="/public/images/activita.logo.png"/>
            </b>
        </a>
        <!--
        <div class="pull-right">
            <li ui-sref-active="active">
                <a ui-sref="application.about">
                    About
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="application.contact">
                    Contact
                </a>
            </li>
        </div>
        -->
    </div>
</nav>
